# python
*.c
*.so
/build
/dist
*.egg-info
__pycache__

# unit testing / coverage
.coverage
.coverage.*
/htmlcov
/coverage.xml
.tox

# setuptools
MANIFEST

# setuptools-scm
src/pkgcraft/__version__.py
